.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.password {
    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: rgba(0, 0, 0, .9)
}

.none {
    display: none;
}

.FormPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: solid 1px #fff;
    margin: 100px auto;
    color: #fff;
    border-radius: 10px;
}

.FormPassword input {
    height: 30px;
    width: 200px;
}

.FormPassword button {
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 10px;   
}
