.openMenu,  .close{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 250px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 200;
    transform: translateX(0px);
    transition: transform .5s ease;

}

.close {
    transform: translateX(230px);
    transition: transform 0.5s ease;
}

.menu h1, h2 {
    font-size: 40px;
    text-align: center;
}

.menu h2 {
    font-size: 25px;
}


