.ParametersVeu {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



@media  (min-width: 300px) and (max-width: 800px) {
    .buttonHome {
        position: fixed !important;
        top: 600px;
        left: 250px;
    }
}
@media (min-width: 800px) {
    .buttonHome {
        display: none;
    }
}
