.ParametersVeu {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonHome {
    position: fixed;
    top: 500px;
    left: 980px;

}


@media  (min-width: 300px) and (max-width: 800px) {
    .buttonHome {
        top: 600px;
        left: 250px;
    }
}

@media  (min-width: 800px) and (max-width: 1400px) {
    .buttonHome {
        left: 650px;
    }
}