.ObjectButton {
    display: flex;
    justify-content: center;
    z-index: 100;
    
}

.ObjectButton button {
   border-radius: 5px;
   border: none;
   background: #f59120;
   margin: 20px 10px;

}

.ObjectButton p {
   font-size: 30px;
   color: #fff;
}