.ObjectButton {
    display: flex;
    justify-content: center;
    z-index: 100;
    
}

.ObjectButton button {
   margin: 20px 10px;
    height: 110px;

}

.ObjectButton p {
   font-size: 35px;
   color: black;
}